name: Generate Contribution Activity Graph

on:
  schedule:
    - cron: "0 0 * * *"   # daily
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub Activity Graph
        uses: ashutosh00710/github-readme-activity-graph@v2
        with:
          username: hiru-viru
          theme: github-light
          hide_border: true
          area: true
          custom_title: Contribution Activity

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
